body {
  background-color: rgba(254, 225, 225, 0.758);
}

.iframe-container {
  overflow: hidden; /* Hide the rest of the iframe */
  position: absolute;

  border: 2px solid black; /* Optional, for visual clarity */
}

.iframe-container iframe {
  position: absolute;
  border: none;
}
